#home {
  background: url('../images/home-bgg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  padding-top: 180px;
  padding-bottom: 100px;
}
#home h1,
#home h3 {
  line-height: 30px;
  font-size: 40px;
}